#root {
	-fx-background-color: #D9F1F9;
}
#homeRoot {
	-fx-background-color: #D9F1F9;
}
#custRoot {
	-fx-background-color: #D9F1F9;
}
#bookRoot {
	-fx-background-color: #D9F1F9;
}
#rentRoot {
	-fx-background-color: #D9F1F9;
}
#transportRoot {
	-fx-background-color: #D9F1F9;
}
#paymentRoot{
	-fx-background-color: #D9F1F9;
}
#employerRoot{
	-fx-background-color: #D9F1F9;
}
#roomsRoot{
	-fx-background-color: #D9F1F9;
}
#carsRoot{
	-fx-background-color: #D9F1F9;
}
#bicycleRoot{
	-fx-background-color: #D9F1F9;
}
#suppRoot{
	-fx-background-color: #D9F1F9;
}
#orderRoot{
	-fx-background-color: #D9F1F9;
}
#filterRoot{
	-fx-background-color: #D9F1F9;
}
#itemRoot{
	-fx-background-color: #D9F1F9;
}
#settingsRoot{
	-fx-background-color: #D9F1F9;
}